---
- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: 1. Создать пользователя cloudru
      user:
        name: cloudru
        password: "{{ 'cloudpass' | password_hash('sha512', 'r@nd0ms@1t') }}"

    - name: 2. Разрешить вход по ключу
      lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "PubkeyAuthentication"
        line: "PubkeyAuthentication yes"
        state: present

    - name: 2.1 Запретить вход по паролю
      lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "PasswordAuthentication"
        line: "PasswordAuthentication no"
        state: present

    - name: 3. Запретить вход по ssh для root
      lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "PermitRootLogin"
        line: "PermitRootLogin no"
        state: present

    - name: 4. Директория .ssh
      file:
        path: /home/cloudru/.ssh
        state: directory
        owner: cloudru
        group: cloudru
        mode: "750"

    - name: 4.1 Файл для ключа
      file:
        path: /home/cloudru/.ssh/authorized_keys
        state: file
        owner: cloudru
        group: cloudru
        mode: "750"

    - name: 4.2 Ключ
      command: echo 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCfrfE0OluoNHb5dOpV4RpWmVXvMBWc17kaM7DDjCm7romNQMDX95i5Fc67Q3c47pvrm/qi/ZqsCeqNdLl5+VV41rVz701Pj/UUr2FZpIm80Ur0iM1DFy81GKo/lS1INopqdd4KvUnM2d8yqfJSm9m5Cq7AM9S0mqObuMayfqNR4YcOlm9fnEMqhrSWbBVvdghPNiBzs7T9RzEq/0w8rs743tCF7MICv72fdgYadrGlxFsFWSujwZXQLI4VUSxKirJBCUgfR0u84gZK/wUzJ4EPqMichniTf24AsvidozUHWMDmQ+pUaBTyxjD5egi8LcV0EHH4feHwzacA2gyGbOtFK3wpa/dgE1yvPTkPKnccIXKnbel0mfxfsBVkclc5/DnczmrdaGrX5DCrQbI+HO4lhr4KzAm/pw6qfLcw8KjCdVKsnCRXykdat8KUwNAeolknRWdKDqdsbyXBj+ePMTlMR8YmoBj9znYWwOnAAyu56utiteL0oq9YPkb7ZGF5ZOE=' > /home/cloudru/.ssh/authorized_keys
      
    - name: 4.3 Перезапуск sshd
      command: systemctl restart sshd
